<section
  class="py-6 px-4 md:px-10 md:py-6 text-cocoa text-center flex flex-col space-y-8"
>
  <h1 class="text-3xl md:text-4xl font-serif mb-4 md:mb-12">User Management</h1>

  <!-- Admin Add User -->
  <div class="text-center md:text-right">
    <a
      href="/user/new"
      class="bg-mocha text-white font-medium py-3 px-5 focus:outline-none focus:text-white focus:bg-wine rounded-full hover:bg-wine transition-colors"
    >
      + Add New User
    </a>
  </div>

  <!-- Users List -->
  {{#if users}}
    <div class="overflow-x-auto shadow-lg rounded-lg border border-gray-200">
      <table class="min-w-full bg-white divide-y divide-gray-200">
        <thead class="bg-beige">
          <tr>
            <th
              class="px-6 py-3 text-left text-xs font-bold text-caramel uppercase tracking-wider"
            >Username</th>
            <th
              class="px-6 py-3 text-left text-xs font-bold text-caramel uppercase tracking-wider"
            >First Name</th>
            <th
              class="px-6 py-3 text-left text-xs font-bold text-caramel uppercase tracking-wider"
            >Last Name</th>
            <th
              class="px-6 py-3 text-left text-xs font-bold text-caramel uppercase tracking-wider"
            >Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200 text-mocha">
          {{#each users}}
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">{{username}}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{firstname}}</td>
              <td class="px-6 py-4 whitespace-nowrap">{{lastname}}</td>
              <!-- Admin Manage Users -->
              <td
                class="px-6 py-4 whitespace-nowrap flex space-x-4 justify-center items-center"
              >
                <a
                  href="/user/modify/{{username}}"
                  class="bg-mocha text-white py-2 px-4 focus:outline-none focus:text-white focus:bg-wine rounded-lg hover:bg-wine transition-colors"
                >Edit</a>
                <a
                  href="/user/delete/{{id}}"
                  class="bg-caramel text-white py-2 px-4 focus:outline-none focus:text-white focus:bg-wine rounded-lg hover:bg-wine transition-colors"
                >Delete</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    <p class="text-lg text-center text-mocha mt-6">No users available at the
      moment.</p>
  {{/if}}
</section>